<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--本地MirServer路径-->
    <add key="MirPath" value="" />
    <!--数据类型-->
    <add key="DataBaseType" value="" />
    <!--数据库地址-->
    <add key="DataBaseAddr" value="" />
    <!--数据库名称-->
    <add key="DataBaseName" value="" />
    <!--数据库用户名-->
    <add key="DataBaseUserName" value="" />
    <!--数据库密码-->
    <add key="DataBasePassWord" value="" />
    <!--主题-->
    <add key="StyleManager" value="Blue" />
    <!--服务端类型-->
    <add key="MirType" value="" />
    <!--代码框背景色-->
    <add key="MirBackground" value="#FFFFFF" />
    <!--数据文件路径-->
    <add key="DataFilePath" value="" />
    <!--服务器版本URL-->
    <add key="ServerFileList" value="http://47.115.223.113/Software/FileList.json" />
    <!--服务器文件库-->
    <add key="ServerFileVersion" value="http://47.115.223.113/Software/咕咕鸡小工具" />
    <!--最新更新文件器地址-->
    <add key="NewUpdateFilePath" value="http://47.115.223.113/Software/Mir.Update.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FileEncodingStr" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.0.0" newVersion="0.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.4.0.0" newVersion="8.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>